
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imgtodos {max-width: 250px;max-height: 200px;}
.card{margin-left: 15% !important;min-width: 300px;min-height: 420px;}
.tamanho {width: 18rem;}
.cardsmargin{margin-left: 5%;}

.imgsolo{
  margin-top: 20%;
  height: 400px !important;
  width: 500px !important;
}
.col-md-8 .card-body{
  border: 3px solid black;
  margin-top: 10%!important;
}
.col-md-8 .card-body .card-title{
  font-size: 30px;
  padding-bottom: 1rem;
}
.display-in{
  display: flex;
  margin-left:5%;
  max-width: 1200px;
}

@media (max-width: 600px) {
 .display-in{display:inline !important;}
  .card{margin-left: 20%;}
}